strict_env
export UV_PREVIEW=1
uv sync
source .venv/bin/activate

# setting up PYTHONPATH
# LCL_PP_DIRS=$(find ./abk_bwp -maxdepth 1 -type d -not -name '__pycache__' | sort)
# for LCL_DIR in "${LCL_PP_DIRS[@]}"; do
#     path_add PYTHONPATH ${LCL_DIR}
# done
