<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.abk.bingwallpaper_debug.py</string>
    <key>ProgramArguments</key>
    <array>
        <string>python3</string>
        <string>/Users/abk/abkBin/bingwallpaper.py</string>
        <string>-l</string>
        <string>DEBUG</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardErrorPath</key>
    <string>/tmp/com.abk.bingwallpaper_debug.py.stderr</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.abk.bingwallpaper_debug.py.stdout</string>
    <key>WorkingDirectory</key>
    <string>/tmp/</string>
</dict>
</plist>
